.header {
  margin-bottom: 10px;
  letter-spacing: .06em;
  color: #E2F2B1;
  text-shadow: 1px 1px 2px red, 0 0 2em blue, 0.2em 0.2em 0.2em #4200ad;
}
.footer {
  margin: 20px 0 15px;
  color: #e7a3ff;
  text-shadow: 1px 1px 2px #12002e, 0 0 1em #E2F2B1, 0.2em 0.2em 0.2em #4200ad;
}
.footer a {
  text-decoration: none;
  color: #e7a3ff;
}
.footer a:hover {
  font-weight: bold;
}
.drum-pad {
  border-radius: 10px;
  box-shadow: 0.3em 0.3em 0.8em #160038;
  outline: none;
  background: linear-gradient(#2f007a, #4200ad);

  padding: 2vw 1vw;
  margin: 1vw;
  font-size: 1.2em;
  cursor: pointer;
  background-color: #BDC2BC;
}
.pad-active{
  color: #ecffb3;
}
.pad-inactive {
  color: gray;
}
.drum-pad:active {
  box-shadow: none;
  transform: translate(0px, 0.09em);
}
#drum {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  max-width: 300px;
  margin: 20px auto;
}
.out {
  width: 6vw;
  max-width: 57px;
  min-width: 28px;
  background-color: #E2F2B1;
  box-shadow: inset -0.12em -0.12em 0.25em 0 #58613d, inset 0.12em 0.12em 0.25em 0 #58613d;
  color: #1f0052;
  z-index: 2;
  margin: 0 auto 10px;
  display: flex;
  cursor: pointer;
}
.out-active, .out-A {
  justify-content: flex-start;
}
.out-inactive, .out-B {
  justify-content: flex-end;
}
.in {
  background-color: red;
  border-radius: 4px;
  box-shadow: -0.12em -0.12em 0.25em 0 #58613d, 0.12em 0.12em 0.25em 0 #58613d;
  width: 50%;
  z-index: 5;
}
.labels {
  margin-bottom: 4px;
  color: #f60909;
  display: block;
  text-shadow: 0 0 1em #E2F2B1;
}
#display {
  background-color: #E2F2B1;
  box-shadow: inset -0.2em -0.2em 0.25em 0 #58613d, inset 0.2em 0.2em 0.25em 0 #58613d;
  color: #1f0052;
  letter-spacing: .02em;
  font-weight: bold;
  padding: 15px 10px;
  border-radius: 4px;
  min-width: 95px;
  width: 40%;
  margin: 20px auto;
}
.machine {
  margin: 20px auto 30px;
  max-width: 400px;
  background-color: #cea3ff;
  padding: 0.5em 5px 1.5em 5px;
  border-radius: 10px;
  border: solid #4200ad;
  box-shadow: 0.1em 0.3em 1em 0.3em rgba(0, 0, 0, .3), inset -0.1em -0.1em 1em 0.001em #29006b;
}
#drum-machine {
  text-align: center;
  padding: 1vw;
  background-color: #5e00f5;
  font-family: 'Ubuntu', 'Roboto', sans-serif;
}
@media (min-width: 700px) {
  .drum-pad {
    margin: 0.5vw;
    padding: 20px;
  }
  .desktop {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
  }
  #drum {
    margin: 15px;
  }
  .options {
    margin: 10px;
  }
  .machine {
    max-width: 450px;
  }
}
@media (max-width: 360px) {
  .drum-pad {
    font-size: 15px;
    margin: 5px;
  }
  .header {
    font-size: 0.8em;
  }
  .footer {
    font-size: 0.85em;
  }
  #display {
    font-size: 0.75em;
    padding: 10px 5px;
  }
}
